body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator-body {
    margin: 300px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.output {
    display: flex;
    justify-content: baseline;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
}