body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#calculator-body {
    margin: 100px auto;
    padding: 30px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.output {
    padding: 0 10px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
}